@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
    background: url("./assets/images/png/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-ui {
    background: url("./assets/images/png/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
